{% extends 'base.html.twig' %}

{% block title %} Products {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center pt-5 pb-2">Products</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                {{ form_start(SearchForm) }}
                <div class="form-group">
                    {{ form_label(SearchForm.title, null, {'label_attr': {'class': 'sr-only control-label'}}) }}
                    {{ form_widget(SearchForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(SearchForm.description, null, {'label_attr': {'class': 'sr-only control-label'}}) }}
                    {{ form_widget(SearchForm.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(SearchForm.color, null, {'label_attr': {'class': 'sr-only control-label'}}) }}
                    {{ form_widget(SearchForm.color, {'attr': {'class': 'form-control', 'placeholder': 'color'}}) }}
                </div>
                <div>
                    <div class="pb-1">Price Range:</div>
                    <div class="form-group">
                    {{ form_label(SearchForm.minPrice, null, {'label_attr': {'class': 'sr-only control-label'}}) }}
                    {{ form_widget(SearchForm.minPrice, {'attr': {'class': 'form-control', 'placeholder': 'Minimum Price'}}) }}
                    </div>
                    <div class="form-group">
                    {{ form_label(SearchForm.maxPrice, null, {'label_attr': {'class': 'sr-only control-label'}}) }}
                    {{ form_widget(SearchForm.maxPrice, {'attr': {'class': 'form-control', 'placeholder': 'Maximum Price'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(SearchForm.search, {'attr': {'class': 'btn btn-secondary'}}) }}
                </div>
                {{ form_end(SearchForm) }}
            </div>
            <div class="col-sm-8 col-xs-12">
                <div>
                    <table>
                        <table class="table table-responsive">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if pager.currentPageResults %}
                                {% for product in pager.currentPageResults %}
                                    <tr>
                                        <th scope="row">{{ product.id }}</th>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.description }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <th scope="row"></th>
                                    <td>No Result found!</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </table>
                </div>
                <div class="pagerfanta">
                    {{ pagerfanta(pager, 'twitter_bootstrap4') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
